<section class="m-5 is-flex is-flex-direction-row">
    <!-- The navbar for the wizard -->
    <header class="header column is-3">
        <ol>
            <ng-container *ngFor="let step of steps; let i = index;">
                <li [ngClass]="(selectedIndex === i) ? activeClass : ''">
                    <a (click)="selectedIndex = i">

                        <!-- Always recommended to use cdkStepLabel directive -->
                        <ng-container *ngIf="step.stepLabel; else showLabelText"
                            [ngTemplateOutlet]="step.stepLabel.template">
                        </ng-container>

                        <!-- use of step.label props in not ideal -->
                        <ng-template #showLabelText>
                            {{ step.label }}
                        </ng-template>
                    </a>
                </li>
            </ng-container>
        </ol>
    </header>

    <div class="body column">
        <ng-container [ngTemplateOutlet]="selected!.content"></ng-container>
    </div>
</section>